@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --bg-primary: hsl(185, 75%, 39%);
  --text-dark: hsl(229, 23%, 23%);
  --text-grey: hsl(227, 10%, 46%);
  --text-light: hsl(0, 0%, 59%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background: var(--bg-primary);
  overflow: hidden;
  user-select: none;
}

#root {
  width: 100%;
  height: 100%;
}

.bg-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.bg-container .top-image {
  position: absolute;
  top: -400px;
  left: -200px;
}

.bg-container .bottom-image {
  position: absolute;
  top: 600px;
  right: -250px;
}

.card-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 350px;
  height: max-content;
  background-color: #fff;
  z-index: 1000;
  text-align: center;
  border-radius: 15px;
}

.card > img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card .hero img {
  margin-top: -50px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.card h2 {
  color: var(--text-dark);
  font-size: 1.3rem;
}

.card .name {
  margin: 0.5em 0;
}

.card .name span {
  font-weight: 400;
  color: var(--text-light);
  margin-left: 6px;
}

.card .hero p {
  font-size: 15px;
  color: var(--text-light);
}

.card .border {
  width: 100%;
  height: 0.1px;
  background-color: hsl(0, 0%, 89%);
  margin: 2em 0;
}

.card .info {
  display: flex;
  justify-content: space-between;
  margin: 0 3em 2em 3em;
  text-align: center;
}

.card .info p {
  font-size: 11px;
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 100;
  margin-top: 6px;
}

@media (max-width: 576px) {
  .bg-container .top-image {
    top: -600px;
    left: -500px;
  }

  .bg-container .bottom-image {
    bottom: -500px;
    right: -600px;
  }
}
